
/*******************
FONTS
*******************/

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

/*******************
SELECTION STYLING
*******************/

::selection {
	color: #fff;
	background: #f676b2; /* Safari */
}
::-moz-selection {
	color: #fff;
	background: #f676b2; /* Firefox */
}

/*******************
BODY STYLING
*******************/

html { 
  background: url(../back_home.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  background-color:#666;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size: 16px;
	text-align: left;
	text-decoration: none;
	color: #FFF;
}

#wrapper {
	/* Center wrapper perfectly */
	width: 250px;
	height: 420px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -125px;
	margin-top: -240px;
}

/*
.gradient {
	width: 600px;
	height: 600px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	
	background: url(../images/gradient.png) no-repeat;
}
*/



/*******************
LOGIN FORM
*******************/

.login-form {
	width: 250px;
	margin: 0 auto;
	position: relative;
	z-index:5;
	

}

/*******************
HEADER
*******************/

.login-form .header {
	padding: 40px 30px 30px 30px;
}

.login-form .header h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height:25px;
	color: #FFF;
	margin-bottom: 10px;
}

.login-form .header span {
	font-size: 11px;
	line-height: 14px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.login-form .content {
	padding: 0 30px 25px 30px;
}

/* Input field */
.login-form .content .input {
	width: 188px;
	padding: 15px 25px;
	
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #FFF;
	
	
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 3px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
	
}

.login-form .content .input:hover {
	background: rgba(114, 114, 114, 0.5);
	color: #fff;
}

.login-form .content .input:focus {
	background: rgba(114, 114, 114, 0.5);
	color: #fff;
	

}

.user-icon, .pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: 3;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.user-icon {
	top:172px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(../images/user-icon.png) no-repeat center;	
}

.pass-icon {
	top:250px;
	background: rgba(65,72,72,0.75) url(../images/pass-icon.png) no-repeat center;
}

/* Animation */
.input, .user-icon, .pass-icon, .register {
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

/*******************
FOOTER
*******************/

.login-form .footer {

	overflow: auto;
	

}

/* Login button */
.login-form .footer .button {
	text-align:	center;

	padding: 11px 25px;
	
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	border: none;
	background-color: transparent;
	cursor: pointer;
	
	
}

.login-form .footer .button:hover {
	background-color: transparent;
border: none;
}

.login-form .footer .button:focus {
	position: relative;
	bottom: -1px;
	border: none;
	background-color: transparent;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Register button */
.login-form .footer .register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	
	background: none;
	border: none;
	cursor: pointer;
	
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	
}

.login-form .footer .register:hover {
	color: #3f9db8;
}

.login-form .footer .register:focus {
	position: relative;
	bottom: -1px;
}

A.wtlink:link {color:#FFF; text-decoration:none;}      /* unvisited link */
A.wtlink:visited {color:#FFF;text-decoration:none;}  /* visited link */
A.wtlink:hover {color:#EFE;text-decoration:underline;}  /* mouse over link */
A.wtlink:active {color:#FFF;text-decoration:none;}  /* selected link */